<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.bloodsoulview">

    <application
        android:name=".view.MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/launch"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".lottie.LottieActivity"></activity>
        <activity android:name=".turntable.TurntableActivity" />
        <activity android:name=".viewpager.indicator.example.ExampleMainActivity" />
        <activity
            android:name=".viewpager.indicator.example.ScrollableTabExampleActivity"
            android:label="@string/scrollable_tab" />
        <activity
            android:name=".viewpager.indicator.example.FixedTabExampleActivity"
            android:label="@string/fixed_tab" />
        <activity
            android:name=".viewpager.indicator.example.DynamicTabExampleActivity"
            android:label="@string/dynamic_tab" />
        <activity
            android:name=".viewpager.indicator.example.NoTabOnlyIndicatorExampleActivity"
            android:label="@string/no_tab_only_indicator" />
        <activity
            android:name=".viewpager.indicator.example.FragmentContainerExampleActivity"
            android:label="@string/work_with_fragment_container" />
        <activity
            android:name=".viewpager.indicator.example.BadgeTabExampleActivity"
            android:label="@string/tab_with_badge_view" />
        <activity
            android:name=".viewpager.indicator.example.CustomNavigatorExampleActivity"
            android:label="@string/custom_navigator" />
        <activity
            android:name=".viewpager.indicator.example.LoadCustomLayoutExampleActivity"
            android:label="@string/tab_with_custom_layout" />
        <activity android:name=".viewpager.pager.PagerActivity" />
        <activity android:name=".viewpager.indicator.IndicatorActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".linear_color.LinearColorActivity" />
        <activity android:name=".voiceprogress.VoiceProgressActivity" />
        <activity android:name=".record_song.RecordSongActivity" />
        <activity android:name=".zhongdong.MiddleEastActivity" />
        <activity android:name=".ticker.TickerActivity" />
        <activity android:name=".optionmenu.MenuOptionActivity" />
        <activity android:name=".loopviewpager.LoopViewPagerActivity" />
        <activity android:name=".loading.LoadingActivity" />
        <activity android:name=".blur.ImageViewBlurActivity" />
        <activity android:name=".indicator.IndicatorActivity" />
        <activity android:name=".FontActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LayoutActivity" />
        <activity android:name=".FlowActivity" />
        <activity android:name=".FlowRecyclerViewActivity" />
        <activity android:name=".FlowCustomActivity" />
        <activity android:name=".OutTouchActivity" />
        <activity android:name=".ViewPagerTransformActivity" />
        <activity android:name=".RtlActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>